frontend/node_modules
frontend/package-lock.json
frontend/.idea
backend/node_modules
backend/.env
backend/.idea
backend/backend.iml
backend/package-lock.json
frontend/expense_tracker.iml
.cache
.idea
